<!-- Personal Flexy Section -->
<div class="row flex-row" ng-cloak>
    <!-- Personal Details 01 -->
    <div id="details" class="col-md-8 flex-column bg-color01 light nopadding"
         data-animation-origin="left"
         data-animation-duration="300"
         data-animation-delay="400"
         data-animation-distance="200px">
        <div class="padding-50 flex-panel">
            <div class="row row-no-padding">
                <div class="col-md-12 nopadding">
                    <h3 class="font-accident-two-normal uppercase title">Hola, que tal?</h3>
                </div>
            </div>
            <div class="divider-dynamic"></div>
            <div class="row nopadding">
                <div class="col-md-12 infoblock nopadding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <h4 class="font-accident-two-medium uppercase">Me presento</h4>
                            <p class="">
                            Soy estudiante de Ingenieria Informatica en la UNDAV. <em>Desarrollo aplicaciones web</em>. Empece haciendo desarrollos para mi como un hobby y que de apoco hizo despertar en mi aun
                                el mayor interes y empece a aprender mas por mi cuenta como autodidacta. Pasaba dias pensando en como poder resolver los problemas que surgian a medida que progresaba en el proyecto.
                                Me anote en la facu y hoy estoy cursando el 2-o año de la carrera. Actualemente estoy trabajando sobre un proyecto como freelance y me sigo capacitando leyendo libros y viendo tutoriales.
                                Trabajo del lado de Front-End como de Back-End. Tambien participo del laboratorio de informatica en la Facultad. Apasionado por crear soluciones me actualizo constantemente en
                                las ultimas tecnologias.
                            </p>
                        </div>
                    </div>
                    <div class="divider-dynamic"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Personal Details 01 -->

    <!-- Personal Details 02 -->
    <div id="personal" class="col-md-4 flex-column light ui-block-color01 personal"
         data-animation-origin="right"
         data-animation-duration="500"
         data-animation-delay="600"
         data-animation-distance="100px">
        <div class="padding-50 flex-panel">
            <h3 class="font-accident-two-normal uppercase title">Info Personal</h3>
            <div class="dividewhite4"></div>
            <div>
                <div class="fullwidth box">
                    <div class="one"><p class="uppercase">Nombre:</p></div>
                    <div class="two"><p class="">Ivan Vitali</p></div>
                </div>
                <div class="fullwidth box">
                    <div class="one"><p class="uppercase text-nowrap">Nacimiento:</p></div>
                    <div class="two"><p class="">21/03/1984</p></div>
                </div>
                <div class="fullwidth box">
                    <div class="one"><p class="uppercase">Ubicacion:</p></div>
                    <div class="two"><p class="">Avellaneda, Buenos Aires</p></div>
                </div>
                <div class="fullwidth box">
                    <div class="one"><p class="uppercase">Email:</p></div>
                    <div class="two"><p class="">webcoder.ivan@gmail.com</p></div>
                </div>
            </div>
            <div class="dividewhite1"></div>
        </div>
    </div>
    <!-- /Personal Details 02 -->
</div>
<!-- /Personal Flexy Section -->